<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  export let gneckChords;
  function onGuitarNeckNoteClick(chord_id, note_id) {
    dispatch("clicked-neck-note", gneckChords[chord_id].notes[note_id].name);
  }

  function reverse() {
    gneckChords = gneckChords?.reverse();
  }
</script>

<div id="guitarNeck">
  <ul class="chordList">
    {#each gneckChords as chord, index (chord.id)}
      <li class="fulllist">
        <ul class="noteList">
          <li class="tablist">
            {chord.tuning}
          </li>
          {#each chord.notes as note, index (note.id)}
            <li class="tablist">
              <button
                class="noteButton"
                id="noteButton-{chord.id}-{note.id}"
                on:click={() => onGuitarNeckNoteClick(chord.id, note.id)}
              >
                <span>
                  {#if note.value}
                    {note.value}
                  {:else}
                    &nbsp;
                  {/if}
                </span>
              </button>
            </li>
          {/each}
        </ul>
      </li>
    {/each}
  </ul>

  <!-- <button>Aide</button> -->
  <button on:click={reverse}> Inverser le manche </button>
</div>

<style>
  .noteList {
    text-align: center;
  }

  .noteButton {
    background-color: transparent;
    border: 1px solid black;
    color: rgb(93, 45, 56);
  }

  .fulllist:nth-child(odd) .noteButton {
    background-color: gray;
  }

  .fulllist:nth-child(even) .noteButton {
    background-color: rgb(221, 220, 220);
  }

  @media screen and (orientation: landscape) {
    .chordList li {
      display: inline-block;
    }
    .noteList li {
      font-size: 4vw;
      width: 5.7vw;
    }
    .noteButton {
      font-size: 4vw;
      width: 100%;
    }
    .noteButton span {
      writing-mode: vertical-lr;
      height: 12.01vw; /*3 times .noteButton font-size + 0.01 for Android Chrome compatibility.*/
    }
  }

  @media screen and (orientation: portrait) {
    ul {
      padding-inline-start: 0px;
    }
    .chordList li {
      display: inline-block;
    }
    .noteList li {
      display: block;
      font-size: 6vw;
    }
    .noteButton {
      width: 15vw;
      font-size: 6vw;
    }
  }
</style>
