<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  export let noteList;
  function onNoteClick(note) {
    dispatch("clicked-note", note);
  }
</script>

<div id="notes">
  <ul class="noteList">
    {#each noteList as note}
      <li class="tablist">
        <button
          class="noteButton"
          id="noteButton-{note}"
          on:click={() => onNoteClick(note)}
        >
          {note}
        </button>
      </li>
    {/each}
  </ul>
</div>

<style>
  .noteList li {
    display: inline-block;
  }

  @media screen and (orientation: landscape) {
    .noteList li {
      font-size: 4vw;
      width: 7vw;
    }
    .noteButton {
      font-size: 4vw;
      width: 7vw;
    }
  }

  @media screen and (orientation: portrait) {
    ul {
      padding-inline-start: 0px;
    }
    .noteList li {
      font-size: 6vw;
    }
    .noteButton {
      width: 15vw;
      font-size: 6vw;
    }
  }
</style>
